<%= form_tag articles_path do %>
	<label for="title">Title: </label>
	<%= text_field_tag :title %> <br>
	<label for="description">Description</label>
	<%= text_area_tag :description %>
	<%= submit_tag "Submit Article" %>
<% end %>